.animated-footer {
  background-color: #1c499f;
  color: white;
  padding: 20px;
  position: relative;
  z-index: 1;
  animation: fadeIn 1s ease-in-out;
  margin-top: 10px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 10px;
  border-bottom: 2px solid #ccc;
}

.university-details, .developer-details {
  flex: 1;
  padding: 10px;
}

.university-details ul, .developer-details ul {
  list-style: none;
  padding: 0;
}

.university-details a, .developer-details a {
  color: #ffcc00;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.university-details a:hover, .developer-details a:hover {
  color: #fff;
}

.copyright {
  text-align: center;
  padding-top: 10px;
  animation: slideInUp 1s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideInUp {
  from { transform: translateY(50px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}
